
<div class="container">
  <h1>This is my new project</h1>
  <h2>I'm a software developer</h2>
  <h3> {{ welcome }} </h3>  <!--- Esto es una interpolación -->
  <ul>
    <li *ngFor="let tasks of tasks">
        {{ tasks }}  <!--- Esto es una interpolación -->
    </li>
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(4) }}</h2>  <!--- Esto es una interpolación -->
  <p> This sum 10 + 3 is {{ 10 + 3 }}</p>
  <p> Hey! My name is {{ name }} and I'm {{ age }}</p>
  <hr />
  <!--- Property Binding -->
  <img [src]="person.avatar" alt="">
  <input type="number" [value]="person.age">
  <button [disabled]="disabled">Click me</button>
  <p>person : {{person.name}}</p>
  <hr />
  <!--- Event Binding -->
  <button (click)="clickHandler()">Please Click Here</button>
  <button (dblclick)="clickHandler()">Double Me</button>
  <p>Change Event</p>   <!--- Event Binding: clicks change -->
  <input type="number" [value]="person.age" (change)="changeHandler($event)">
  <p>Keydown</p>   <!--- Event Binding keydown-->
  <input type="text" [value]="person.name" (keydown)="keydownHandler($event)">
  <p>Keydown shift</p>   <!--- Event Binding keydown: solo para una tecla especifica-->
  <input type="text" [value]="person.name" (keydown.shift.t)="clickHandler()">
</div>