
<div class="container">
  <h1>This is my new project</h1>
  <h2>I'm a software developer</h2>
  <h3> {{ welcome }} </h3>  <!--- Esto es una interpolación -->
  <ul>
    <li *ngFor="let tasks of tasks()">
        {{ tasks }}  <!--- Esto es una interpolación -->
    </li>
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(4) }}</h2>  <!--- Esto es una interpolación -->
  <p> This sum 10 + 3 is {{ 10 + 3 }}</p>
  <p> Hey! My name is {{ name() }} and I'm {{ age }}</p>
  <hr />
  <!--- Property Binding -->
  <img [src]="person().avatar" alt="">
  <input type="number" [value]="person().age">
  <button [disabled]="disabled">Click me</button>
  <p>person : {{person().name}}</p>
  <hr />
  <!--- Event Binding -->
  <button (click)="clickHandler()">Please Click Here</button>
  <button (dblclick)="clickHandler()">Double Me</button>
  <p>Change Event</p>   <!--- Event Binding: clicks change -->
  <input type="number" [value]="person().age" (change)="changeHandler($event)">
  <p>Keydown</p>   <!--- Event Binding keydown-->
  <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
  <p>Keydown shift</p>   <!--- Event Binding keydown: solo para una tecla especifica-->
  <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()">
  <hr />
  <ul> <!--- Directivas de control -->
    <p>total : {{ tasks().length }}</p>
    <li *ngFor="let tasks of tasks(); index as i">
        {{ i }} {{ tasks }}  
    </li>
  </ul>
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <p>name: {{ name() }}</p>
  <hr />
  <div *ngIf="1 !== 1">
    My content
  </div>
  <div *ngIf="name() === 'Ashanty'">
    Hello there, my name is Ashanty
  </div>
  <input type="number" [value]="person().age" (change)="changeAge($event)">
  <div *ngIf="person().name === 'Ashanty' && person().age > 18; else elseBlock">
    My name is Ashanty, and I'm an adult
  </div>
  <ng-template #elseBlock>
    My name is Ashanty, and I'm a kid
  </ng-template>
  <hr />
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <div [ngSwitch] = "person().name">
    <p *ngSwitchCase=" 'ashanty'">I'm Ashanty</p>
    <p *ngSwitchCase=" 'alberto'">I'm Alberto</p>
    <p *ngSwitchCase=" 'verito'">I'm Verito</p>
    <p *ngSwitchCase=" 'mely'">I'm Mely</p>
    <p *ngSwitchDefault>I'm no one</p>
  </div>
  <hr />
  <input type="color" [formControl] = "colorCtrl">
  <p>color: {{ colorCtrl.value }}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"/>
    </g>
  </svg>
  <hr />
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr />
  <p>
    <input type="text" [formControl] = "nameCtrl"> <br />
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched"> Not a Valid Name</span>
  </p>
  <p>
    <input type="text">
  </p>
</div>